#map_wrap									{ margin:0 auto 20px; width:98%; height:300px; padding:2px;
											-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.15);
											-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.15);
											box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.15); }
#small_map #map_wrap						{ height:200px; }											
#map_canvas									{ width:100%; height:100%; }
#map-popup *:last-child						{ margin-bottom:0 !important; }

.centeredForm								{ width:100% !important; margin:0 auto 7px !important; }
#sap_form									{ margin-bottom:20px; }
#sap_form:after								{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.formRight,
div.field.text,
.text .middleColumn,
div.field.textarea,
.textarea .middleColumn						{ width:100% !important; position:relative; }
form div.field.text > label,
form div.field.textarea > label				{ width:100% !important; padding:0 !important; }
.formField label.error,
div.field.text label.error,
div.field.textarea label.error				{ text-align:left; }
.formField label:hover,
div.field.text label:hover,
div.field.textarea label:hover				{ cursor:text; }
.formRight label:first-child,
div.field.text label:first-child,
div.field.textarea label:first-child		{ position:absolute; top:12px; left:8px; text-align:left !important; z-index:10; }
div.field.checkbox label					{ width:85%; float:right; }
div.field.checkbox .middleColumn			{ width:15%; float:left; }

#services_area:after						{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.service_pages								{ width:48%; margin-left:4%; float:left; }
.service_pages:first-child					{ margin-left:0; }
.service_pages ul.level_1					{ list-style:none; }
.service_pages ul.level_1 > li				{ margin:0 0 20px; }
.service_pages ul.level_1 > li > a 			{ text-decoration:none; font-size:20px; font-weight:bold; padding:7px; display:block; margin-bottom:5px; border-bottom:3px #d6d6d6 double;
											background: #f3f3f3; /* Old browsers */
											background: -moz-linear-gradient(top,  #f3f3f3 0%, #e8e8e8 100%); /* FF3.6+ */
											background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
											background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
											background: -o-linear-gradient(top,  #f3f3f3 0%,#e8e8e8 100%); /* Opera 11.10+ */
											background: -ms-linear-gradient(top,  #f3f3f3 0%,#e8e8e8 100%); /* IE10+ */
											background: linear-gradient(to bottom,  #f3f3f3 0%,#e8e8e8 100%); /* W3C */
											filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
											text-shadow: 1px 1px 0px #ffffff;
											filter: dropshadow(color=#ffffff, offx=1, offy=1);
											}
.service_pages ul.level_1 > li > a:hover	{ border-color:#c1c1c1; }											
.service_pages ul.level_1 > li *:last-child	{ margin-bottom:0; }

.service_pages ul.level_2					{ list-style:square; }
.service_pages ul.level_2 ul				{ list-style:circle; }
.service_pages ul.level_2,
.service_pages ul.level_2 ul				{ line-height:24px; }
.service_pages ul.level_2 a					{ text-decoration:none; }
.service_pages ul.level_2 > li > a			{ font-size:16px; }

@media (max-width:450px){
	#services_left,
	#services_right							{ float:none; width:100%; margin-left:0; }
}